##Important things and packages to have
python3 pip -m venv <virtual environment name>
activate the virtual environment by:
source <virtual environment name>/bin/activate

then install the following packages
    used python package:-
    django (pip install django==2.2.16)
    telebot(
    request(pip install request)
    schedule(pip install schedule)->(this is not much important)
