<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="jquery-3.6.0.js"></script>
        <script>
            $(".home").click(function(){
                $(".text").html("<hi>Hello</h1>");
                alert("clicked");
              
            });
        </script>
        <link rel="stylesheet" href="style.css">
        
        <title></title>
    </head>

    <body>
        <div id="operation">
            <div class="navigation">
                <nav>
                <ul>
                    <button class="home">HOME</button><br>
                    <button type="button" >DEVICES</button>
                </ul>  
                </nav>
            </div>
            <div class="text">

            </div>
         </div>

    </body>
    
</html>